%div#header-notifications
  %h3.page-title
    Notifications

.row
  .col-md-12
    - if @event_notifications.any?
      = render @event_notifications
      = paginate @event_notifications, theme: 'gitlab'
    - else
      %p.nothing_here_message No notifications to show